$color-background: hsl(187, 32%, 40%);
$color-background-light: hsl(181, 34%, 50%);
$color-background-text: hsl(0, 0%, 93%);
$color-brown: hsl(28, 66%, 17%);
$color-green: hsl(117, 52%, 25%);
$color-green-light: hsl(117, 65%, 35%);

$font-main: normal 30px 'Open Sans';
$font-sub:  normal 20px 'Open Sans';
$font-small: normal 15px 'Open Sans';

#page-wrapper {
	height: 100vh;
	width: 100%;
	margin-bottom: -68px;
	background-color: $color-background;
	font: $font-main;
	color: aliceblue;
	text-align: center;
	
	#header {
		line-height: 18px;
		padding-top: 1px;
	}
	
	#article-list {
		margin: 0 auto;
		border-radius: 10px;
		width: 90%;
		padding: 20px;
		background-color: $color-background-text;
		color: $color-green;
	}
}


#foot {
	font: $font-sub;
	color: aliceblue;
	line-height: 31px;
	width: 100%;
	height: 65px;
	padding-top: 3px;
	text-align: center;
	background-color: $color-brown;
	
	i, a {
		color: $color-background-light;
		transition: 0.2s;
		text-decoration: none;
	}
	
	a:hover, #gh-link:hover i {
		color: aliceblue;
		text-decoration: none;
	}
	
	i {
		padding-left: 2px;
	}
}